<%= form_for(@thing, :html => { multipart: true }) do |f| %>
  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @thing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :title, 'What have you found?' %>
    <%= f.text_field :title %>
  </fieldset>
  <fieldset id="location_field">
    <%= f.label :address, "Where is it?" %>
    <p id="location_loading">Fetching your current location &hellip;</p>
    <%= f.text_field :address %>
  </fieldset>
  <fieldset>
    <label for="thing_image">Add a picture?
      <button id="pic_select" class="btn">take photo</button>
      <span id="image_label">(optional)</span></label>
    <%= f.file_field :image %>
    <script>
    document.querySelector('#pic_select').addEventListener('click', function(e) {
      e.preventDefault();
      document.querySelector('#thing_image').click();
    }, false);

    jQuery('#thing_image').change(function(e) {
      jQuery('#image_label').html('<strong>' + $(this).val().split('/').pop().split('\\').pop() + '</strong>');
    });
    </script>
  </fieldset>

  <fieldset>
    <label for="description">More details? <span>(optional)</span></label>
    <%= f.text_area :description %>
  </fieldset>
  <%= f.submit 'Post this', :class => 'btn' %>
<% end %>

<script>
function success(position) {
  $.post(
    '/location',
    { latitude: position.coords.latitude, longitude: position.coords.longitude },
    function(data,textStatus,jqXHR) {
      $("#location_loading").hide();
      if (!$("#location_field input").val()) {
        $("#location_field input").val(data.address);
      }
    }
  );
}

function error(msg) {
}

$("document").ready(function() {
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success, error);
  }

 var input = $("#location_field input")[0]; 

 var options = {
   types: ['geocode']
 };

 autocomplete = new google.maps.places.Autocomplete(input,options);
});
</script>
