<%= form_for(@thing, :html => { multipart: true }) do |f| %>
  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% @thing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <!--<p class="loading">Finding your location: <span id="status">checking...</span></p>-->

  <%= f.label :title, 'What have you found?' %>
  <%= f.text_field :title %>
  <label for="image">Add a picture?
    <button id="pic_select" class="btn">take photo</button>
    <span>(optional)</span></label>
  <%= f.file_field :image %>
  <script>
  document.querySelector('#pic_select').addEventListener('click', function(e) {
    e.preventDefault();
    document.querySelector('#thing_image').click();
  }, false);
  </script>

  <label for="description">More details? <span>(optional)</span></label>
  <%= f.text_area :description %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <%= f.submit 'Post this', :class => 'btn' %>
<% end %>

<script>
function success(position) {
  document.querySelector('#thing_latitude').value = position.coords.latitude
  document.querySelector('#thing_longitude').value = position.coords.longitude
}

function error(msg) {
}

if(navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
}
</script>
