<p class="location" style="display: none"><%= @location %></p>
<ol class="stuff-list">
  <% @things.each do |thing| %>
    <li>
    <a href="<%= thing_path thing %>" title="<%= thing.description %>">
      <%= image_tag thing.image_url(:thumb).to_s %>
      <strong><%= thing.title %></strong>
      <span><%= thing.address %></span>
      <%= "#{time_ago_in_words(thing.created_at)} ago" %>
    </a>
    </li>
  <% end %>
</ol>
