<script>
function success(position) {

}

function error(msg) {

}

if(navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success,error);
}
</script>
<div id="results">
  <%= form_tag things_path, :method => :get do %>
    <%= label_tag :location, "Near:" %>
    <%= search_field_tag :location, @location %>
  <% end %>
  <ol class="stuff-list">
    <% @things.each do |thing| %>
      <li>
      <a href="<%= thing_path thing %>" title="<%= thing.description %>">
        <%= image_tag thing.image_url(:thumb).to_s %>
        <strong><%= thing.title %></strong>
        <span><%= thing.address %></span>
        <%= "#{time_ago_in_words(thing.created_at)} ago" %>
      </a>
    </li>
  <% end %>
  </ol>
</div>

<%= link_to 'New Thing', new_thing_path %>
