<script>
function success(position) {
  $("#results").load(resultsUrl(position),function(response,status,xhr) {
    $("#location").val($(response).filter("p.location").text());
  });
}

function error(msg) {

}

function resultsUrl(position) {
  return document.URL + "?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude;
}

$('document').ready(function() {
  if ($('#results .loading')) {
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(success,error);
    }
  }
});
</script>
<%= form_tag things_path, :method => :get, :class => 'search' do %>
  <%= label_tag :what, "find" %>
  <%= text_field_tag :what, params[:what], :placeholder => 'Any stuff' %>
  <%= label_tag :location, "near" %>
  <%= text_field_tag :location %>
  <input type="submit" value="Search" class="btn primary">
<% end %>
<div id="results">
  <p class="loading">Loading ...</p>
</div>
