<ol class="stuff-list">
  <% @things.each do |thing| %>
    <li>
    <a href="<%= thing_path thing %>">
      <%= image_tag thing.image_url(:thumb).to_s %>
      <strong><%= thing.title %></strong>
      <span><%= thing.address %></span>
      <%= "#{time_ago_in_words(thing.created_at)} ago" %>
    </a>
  </li>
<% end %>
</ol>

<%= link_to 'New Thing', new_thing_path %>
