<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @thing.title %>
</p>

<p>
  <b>Description:</b>
  <%= @thing.description %>
</p>

<p>
  <b>Address:</b>
  <%= @thing.address %> <%= @thing.postal_code %>
</p>

<p>
  <b>City:</b>
  <%= @thing.city %>
</p>

<p>
  <b>Listed:</b>
  <%= "#{time_ago_in_words(@thing.created_at)} ago" %>
</p>

<%= image_tag @thing.image_url.to_s %>


<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
