<section id="notice"><%= notice %></section>

<article>
  <h1><%= @thing.title %></h1>

  <div class="address">
    <span class="city"><%= @thing.city %></span>
    <span class="address"><%= @thing.address %></span>
  </div>  

  <div class="when">
    Listed <%= "#{time_ago_in_words(@thing.created_at)} ago" %>
  </div>

  <%= image_tag @thing.image_url(:small).to_s %>
  <% unless @thing.description.empty? %>
    <div class="description">
      <%= @thing.description %>
    </div>
  <% end %>

</article>


<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
