<section id="notice"><%= notice %></section>

<article class="thing">
  <h1><%= @thing.title %></h1>

  <%= image_tag @thing.image_url(:small).to_s unless @thing.image_url.blank? %>
  <h2 class="city"><%= @thing.city %></h2>
  <a class="address" href="http://maps.google.com?q=<%= "#{@thing.address}" %>">
    <span><%= @thing.street_address %></span>
  </a>  

  <div class="when">
    Listed <%= "#{time_ago_in_words(@thing.created_at)} ago" %>
  </div>

  <% unless @thing.description.empty? %>
    <h3>Details</h3>
    <div class="description">
      <%= @thing.description %>
    </div>
  <% end %>

  <form class="claim">
    <input type="submit" name="claim" value="MINE!" class="btn">
    <input type="submit" name="gone" value="Gone :(" class="btn cancel">
  </form>
</article>


<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
